body {
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scrollbar-width: none;
}

section {
    height: fit-content;
    width:400px;
    border: 1px solid #ccc;
}

/* Header CSS */
header {
    padding-right: 20px;
    padding-left: 20px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */ /* 下の影を削除 */

    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: auto;
    left: auto;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.top {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown a{
    font-size: 14px;
}

.dropdown-toggle {
    min-width: 100px;
    width:30%;
    height: 35px;
}

.dropdown-menu {
    font-size:14px;
}

#title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px !important;
}

h1 {
    margin: 0px !important;
    font-size: 26px !important;;
}

h2 {
    margin-bottom: 10px!important;
    font-size: 22px !important;
}

/* Main CSS */
main {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.form-group {
    margin-bottom: 10px;
} 


/* Footer CSS */
.footer {
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    flex-direction: row;
    align-items: center;
    /* box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2); */ /* 上の影を削除 */

    color: #555;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.footer a {
    color: #555;
}

.nav-link {
    text-decoration: none;
    color: #000;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link img {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: auto;
}

.nav-link span {
    display: block;
    font-size: 14px;
}